<a href="https://colab.research.google.com/github/SIDIBEMoussa/Simulation-ev-n-ment-discret/blob/main/M_M_1__Moussa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as pl
import pandas as pd

In [ ]:
def GenerateMM(Nbr_cl):
  np.random.seed(100)
  t_inter_arr=int(np.random.uniform(0,1)*10)
  t_debut_ser=t_arr=t_inter_arr
  t_ser=int(np.random.uniform(0,0.51)*10)
  t_fin_ser=t_inter_arr+t_ser
  t_sejour=t_fin_ser-t_arr
  t_ser_libre=0
  t_attente=t_debut_ser-t_arr
  #Cumul
  
  sejour_cumul=t_sejour
  arr_cumul=t_arr
  servi_cumul=t_ser
  inter_arr_cumul=t_inter_arr
  sejour_cumul=t_attente+t_ser
  t_ser_libre_cumul=0
  n=1

  #check=[t_inter_arr]
  while n<=Nbr_cl:
      t_inter_arr=int(np.random.uniform(0,1.01)*10)
      t_arr+=t_inter_arr
      t_ser_libre=max(0,t_arr-t_fin_ser)
      t_debut_ser=max(t_fin_ser,t_arr)
      t_attente=t_debut_ser-t_arr
      t_ser=int(np.random.uniform(0,0.6)*10)
      t_fin_ser=t_debut_ser+t_ser
      t_sejour=t_attente+t_ser
      
      #check.append(t_inter_arr)
      
      #Cumul
      
      #att_cumul+=t_attente
      arr_cumul+=t_arr
      servi_cumul+=t_ser
      inter_arr_cumul+=t_inter_arr
      sejour_cumul+=t_sejour
      t_ser_libre_cumul+=t_ser_libre
      n=n+1
  df=pd.DataFrame({"Nbre_client":[n-1],"arrivé_cum":[arr_cumul],"service_cum":[servi_cumul],"inter_arrivé_cum":[inter_arr_cumul],"sejour_cum":[sejour_cumul],"server_libre_cumul":[t_ser_libre_cumul]})
  return df, check

In [ ]:
df,check=GenerateMM(1000)
df

   Nbre_client  arrivé_cum  ...  sejour_cum  server_libre_cumul
0         1000     2238237  ...        3657                1955

[1 rows x 6 columns]

In [ ]:
lamda1=float(1/(df.inter_arrivé_cum/df.Nbre_client))
mu1=float(1/(df.service_cum/df.Nbre_client))
ro=lamda1/mu1
(mu1,lamda1,ro)

(0.40866366979975477, 0.22722108611679165, 0.5560099977277893)

In [ ]:
nbr_cl_syst=ro/(1-ro)
nbr_cl_file=nbr_cl_syst-ro
duree_sejour=nbr_cl_syst/lamda1

In [ ]:
print("le taux d'occupation du server est:{:.2%}".format(ro))
print("le nombre moyen de client dans le système:{:.2} personne(s)".format(nbr_cl_syst))
print("le nombre moyen de client dans la file d'attente:{:.2} personne(s)".format(nbr_cl_file))
print("La durée moyenne de séjour:{:.2} minutes".format(duree_sejour))

le taux d'occupation du server est:55.60%
le nombre moyen de client dans le système:1.3 personne(s)
le nombre moyen de client dans la file d'attente:0.7 personne(s)
La durée moyenne de séjour:5.5 minutes